*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    color: white;
    padding-bottom: 40px;
}
.watch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.watch *{
    margin-bottom: 12px;
}
.date{
    text-align: left;
    font-size: 20px;
}
#da-mo{
    background-color: chocolate;
    padding: 4px;
    font-size: 24px;
    border-radius: 2px;
}
.time{
    font-size: 40px;
    padding: 40px;
    border:10px solid orangered;
}
#indicator{
    font-size: 16px;
}
.day{
    text-align: right;
    font-size: 24px;
}
@keyframes blinkAnimation {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
.colon{
    animation: blinkAnimation 1s infinite;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn .change{
    background-color: #0088cc;
    color: white;
    font-size: 20px;
    border: 2px solid #0088cc;
    border-radius: 2px;
    padding: 10px;
}